.pictures{
    border: 2px solid rgb(80, 11, 191);
    height: 200px;
    margin: 4rem;
    width: 200px;
    font-style: italic;
    
}

body{
    background-color: rgb(225, 232, 134);

}

@keyframes bg-animation {
    
}